<p id="notice"><%= notice %></p>

<h1>Properties</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td><%= property.address %></td>
        <td><%= property.lonlat %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>

<h2>gmap</h2>
<div id='map'></div>

<style>
    #map{
        height: 400px;
    }
</style>

<script>
    function initMap(){
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 35.6809591, lng: 139.7673068},
            zoom: 8
        });

        <% @properties.each do |property| %>
        pos = new google.maps.LatLng(
            <%=property.lonlat.y%>, //latitude
            <%=property.lonlat.x%> //longitude
        );
        marker = new google.maps.Marker({
            map: map,
            position: pos,
        });
        <% end %>
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAP_KEY'] %>&callback=initMap" async defer></script>
